@{
    ViewData["Title"] = "AddSupplier";
}

@model Supplier
<div class="animated fadeIn">

    <div class="row">
        <div class="offset-3 col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong class="card-title">Add Supplier</strong>
                </div>
                <div class="card-body">
                    <!-- Category -->
                    <div id="pay-invoice">
                        <div class="card-body">
                            <hr>
                            <form asp-area="Admin" asp-action="AddSupplier" asp-controller="Supplier" method="post" novalidate="novalidate">
                                <div class="form-group">
                                    <label asp-for="SupplierName" class="control-label mb-1">Supplier Name</label>
                                    <input asp-for="SupplierName" type="text" data-val-required="Please enter a supplier name." class="form-control" aria-required="true" aria-invalid="false">
                                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label mb-1">Email</label>
                                    <input asp-for="Email" type="text" data-val-required="Please enter a supplier email." class="form-control" aria-required="true" aria-invalid="false">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label mb-1">Phone</label>
                                    <input asp-for="Phone" type="text" data-val-required="Please enter a supplier phone." class="form-control" aria-required="true" aria-invalid="false">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label mb-1">Address</label>
                                    <input asp-for="Address" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter a address of the supplier." aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                    <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                </div>
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa fa-plus fa-lg"></i>&nbsp;
                                        <span id="payment-button-amount">Add</span>
                                        <span id="payment-button-sending" style="display:none;">Adding…</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div> <!-- .card -->

        </div><!--/.col-->
    </div>
</div><!-- .animated -->

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
